name: ML Pipeline CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.13'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          pytest tests/

      - name: Run ML pipeline
        run: |
          python3 ml_pipeline.py

      - name: Upload predictions
        uses: actions/upload-artifact@v4
        with:
          name: predictions
          path: predictions.csv

